@w-color: #fff;
@b-color: #000;
@base-color: #778081;
@heading-color: #454545;
@heading-color-hover: #151515;
@link-color: #c62a31;
@caption-color: #000;
@controls-color: #808080;

@footer-height: 120px;

@mobile:      ~"only screen and (max-width: 320px)";
@tablet-xs:   ~"only screen and (min-width:321px) and (max-width: 615px)";
@tablet:      ~"only screen and (min-width: 321px) and (max-width: 768px)";
@desktop:     ~"only screen and (min-width: 769px) and (max-width: 1024px)";
@desktop-hd:  ~"only screen and (min-width: 1025px)";
@desktop-lg:  ~"only screen and (min-width: 1440px)";

@body-font-family: 'PT Sans', sans-serif;
html,body{
  height: 100%;
}
body {
  background: #fbfbfc url(../images/textura.png) repeat left top;
  font-family: @body-font-family;
  font-size: 16px;
  line-height: 1.25;
  color: @base-color;
  margin: 0;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}

// header
.header{
  overflow: hidden;
  background-color: @w-color;
}
.header__content{
  max-width: 1025px;
  width: 100%;
  padding: 15px 30px;
  clear: both ;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;

  &:after{
    clear: both;
    display: table;
  }
}
.logo{
  background: url("../images/logo.png") center no-repeat;
  height: 62px;
  width: 159px;
  display: block;
  float: left;
}
.header__menu{
  list-style-type: none;
  float: right;
  padding: 0;

  &>li{
    display: inline-block;
    padding: 0 15px;
  }
}
.header__menu-item{
  display: inline-block;
  text-decoration: none;
  padding: 5px 0;
  border-bottom: 1px solid transparent;
  color: @heading-color;
  font-size: 20px;
  line-height: 1.3;

  &:hover,
  &:active{
    color: @heading-color-hover;
    border-bottom: 1px solid red;
    transition: all .2s ease;
  }
}
.header__icon-close{
  display: none;
  width: 24px;
  height: 24px;
  background: url(../images/close_mobile.png) center no-repeat;
  position: absolute;
  top: 30px;
  right: 30px;
  margin-bottom: 50px;
  z-index: 3;
  border: none;
  outline: none;
  cursor: pointer;
}

//slider

.slider-wrap{
  width: 100%;
}
.slider{
  width: 100%;
  height: 520px;
  overflow: hidden;
  position: relative;
}
.slider__img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 520px;
  text-align: center;
}

.slider__controls{
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}
.slider__controls-item{
  display: inline-block;
  margin: 5px;
  border: 1px solid @controls-color;
  width: 10px;
  height: 10px;
  overflow: hidden;
  cursor: pointer;

  &.controls-item_type_active{
    background-color: @controls-color;
  }
  &:hover{
    background-color: @controls-color;
  }
}
.slider__btn-prev,
.slider__btn-next{
  display: block;
  width: 200px;
  height: 100%;
  position: absolute;
  top:0;
  overflow: hidden;
  text-indent:-999px;
  opacity: 0.8;
  z-index: 3;
  outline: none;
}
.slider__btn-prev{
  left:10px;
  background: url(../images/arrow_left.png) right center no-repeat;
}
.slider__btn-next{
  right:10px;
  background: url(../images/arrow_right.png) left center no-repeat;
}
.slider__btn-prev,
.slider__btn-next{
  &:hover{
    opacity:1;
  }
}
.slider__btn-prev{
  &:hover{
      background: url(../images/arrow_left@2x.png) right center no-repeat;
  }
}
.slider__btn-next{
  &:hover{
      background: url(../images/arrow_right@2x.png) left center no-repeat;
  }
}
.slider__content{
  position: absolute;
  top: 50%;
  left: 240px;
  width: 524px;
  height: 220px;
  background-color: fade(@b-color, 80%);
  color: @w-color;
  transform: translateY(-50%);
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}
.slider__content-title{
  font-size: 35px;
  line-height: 1.3;
  text-transform: uppercase;
}
.slider__dicription{
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.34;
}
.slider__content-footer{
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.slider__content-footer-item{
  display: inline-block;
  vertical-align: middle;
}
.slider__icon-calendar{
  width: 32px;
  height: 32px;
  background: url(../images/calendar.png) center no-repeat;
}
.slider__content-date {
  font-size: 20px;
  line-height: 1.3;
  margin-right: 40px;
  margin-left: 20px;
}
.slider__content-btn{
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: @w-color;
  background-color: @link-color;
  border-radius: 5px;
  text-transform: uppercase;

  &:hover{
    background-color: lighten(@link-color, 10);
  }
  &:active{
    background-color: lighten(@link-color, -10);
  }
}
//content
.wrapper{
  padding-bottom: @footer-height;
}
.content{
  max-width: 1025px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  margin: 0 auto;
}
.content__block{
  width: 103%;
  box-sizing: border-box;
  margin-left: -30px;
  font-size: 0;
  margin-bottom: 20px;

  .content__block-item{
    padding-left: 30px;
    font-size: 14px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
  }
  &.block_type_list{
    .content__block-item{
      width: 33%;
    }
  }
  &.block_type_article{
    .content__block-item{
      width: 50%;
    }
  }
}
.content__header{
  color: @heading-color;
  font-size: 24px;
  line-height: 1.36;
}
.content__date{
  font-size: 12px;
  color: @caption-color;
  line-height: 1.25;
  margin-bottom: 5px;
}
.content__link{
  color: @link-color;
  line-height: 1.25;
  font-size: 16px;
  text-decoration: none;
}
.content__news{
  margin-top: 20px;

  &:first-child{
    margin-top: 0;
  }
}

.content__news-body{
  margin-top: 5px;
}

.content__list-unordered{
  list-style-type: none;
  .content__news{
   margin-left: -20px;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 3px;
      margin-left: -20px;
      width: 7px;
      height: 7px;
      background-color: @link-color;
      border-radius: 50%;
    }
  }
}
.content__list-ordered{
  list-style-type: none;
  counter-reset: my-awesome-counter;
  .content__news{
    position: relative;
    counter-increment: my-awesome-counter;
    &:before{
      content: counter(my-awesome-counter);
      position: absolute;
      left: 0;
      top: 0;
      margin-left: -40px;
      width: 20px;
      height: 20px;
      border: 1px solid @link-color;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
    }
  }
}
.content__article-img{
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;

  &.article-img_float_left{
    float: left;
    margin-right: 20px;
    background-image: url('../images/photo_1.png');
  }
  &.article-img_float_right{
    float: right;
    margin-left: 20px;
    background-image: url('../images/photo_1.png');
  }
}
.content__article-news{
  margin-top: 15px;

  &:first-child{
    margin-top: 0;
  }
}

//social-group
.social-group{
  text-align: center;
  padding: 20px 0;
}
.btn{
  width: 41px;
  height: 41px;
  display: inline-block;
  margin: 0 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;

  &:active{
    outline: none;
  }
  &:first-child{
    margin-left: 0;
  }
  &:last-child{
    margin-right: 0;
  }
  &.facebook{
    background: url(../images/Facebook.png) center no-repeat;
  }
  &.twitter{
    background: url(../images/Twitter.png) center no-repeat;
  }
  &.linkedin{
    background: url(../images/LinkedIN.png) center no-repeat;
  }
  &.instagram{
    background: url(../images/Instagram.png) center no-repeat;
  }
  &.google{
    background: url(../images/Google.png) center no-repeat;
  }
  &.youtube{
    background: url(../images/Youtube.png) center no-repeat;
  }
}

//footer
.footer{
  background-color: @link-color;
  color: @w-color;
  height: @footer-height;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  .content{
    padding: 0;
    height: 100%;
  }
  .content__block{
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin-bottom: 0;
    &:after{
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      content: "";
    }
  }
  .content__block-item{
    font-size: 13px;
    vertical-align: middle;
    width: 33%;
    line-height: 1.5;

    &.item_type_menu{
      margin: 0;
      list-style-type: none;
      text-align: center;
      li{
        display: inline-block;
      }
    }
    &.block-item_float_right{
      text-align: right;
    }
  }
}
.footer__link{
  color: @w-color;
  text-decoration: none;
  padding: 0 15px;
}


//media queries
@media @desktop-lg{
  .slider__img-wrap{
    position: relative;
    height: 520px;
    img{
      width: 100%;
    }
  }
}
@media @desktop-hd{
  .content {
    max-width: 1024px;
  }
}
@media @desktop{
  .content {
    max-width: 940px;
  }
  .slider__content{
    left: 100px;
  }
  .slider__btn-prev, .slider__btn-next{
    width: 60px;
  }
}
@media @tablet{
  .content {
    max-width: 740px;
  }
  .slider__content{
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slider__btn-prev, .slider__btn-next{
    display: none;
  }
  .content__block{
    &.block_type_list{
      .content__block-item{
        width: 50%;
        &.item_type_news{
          width: 100%;
        }
      }
    }
    &.block_type_article{
      .content__block-item{
        width: 100%;
      }
    }
  }
  .btn{
    margin: 0 30px;
  }
}
@media @tablet-xs{
  .logo{
    float: none;
    margin:0 auto;
  }
  .header__menu{
    float: none;
    text-align: center;
    margin-top: 10px;
  }
}
@media @mobile{
  .content {
    max-width: 320px;
  }
  .slider__content{
    width: 280px;
    height: 335px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slider__btn-prev, .slider__btn-next{
    display: none;
  }
  .content__block{
    .content__block-item{
      margin-bottom: 10px;
    }
    &.block_type_list{
      .content__block-item{
        width: 100%;
      }
    }
    &.block_type_article{
      .content__block-item{
        width: 100%;
      }
    }
  }
  .content__article-img{
    &.article-img_float_right{
      margin-left: 0;
      float: none;
    }
    &.article-img_float_left{
      margin-right: 0;
      float: none;
    }
  }
  .btn{
    margin: 0 5px;
  }
  .header__menu{
    list-style-type: none;
    float: right;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    right: 0;
    text-align: right;
    background-color: fade(@link-color, 80%);
    z-index: 2;
    margin: 0;
    padding: 105px 30px;
    box-sizing: border-box;
    &>li{
      padding: 0;
    }
  }
  .header__menu-item{
    color: @w-color;
    border-bottom: none;
    font-weight: bold;
    text-shadow: 0 1px 4px fade(@b-color, 50%);
    &:hover,
    &:active{
      border-bottom: none;
      color: fade(@w-color, 80%);
      text-shadow: none;
    }
  }
  .header__icon-close{
    display: block;
  }
  .slider__content-footer{
    text-align: center;
  }
  .slider__content-date{
    font-size: 14px;
    margin-right: 0;
  }
  .slider__content-btn{
    margin-top: 10px;
  }
}
